<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLinkActive="active" href="#" class="navbar-brand" >HTML GEN</a>
        <a routerLinkActive="active" href="#" class="navbar-brand" style="font-size: 16px;">Create Document</a>
        <a routerLinkActive="active" href="#" class="navbar-brand" style="font-size: 16px;" >Send Email</a>
      </div>
      <!--   
      <div class="collapse navbar-collapse"> -->
  
      <!-- <li routerLinkActive="active"><a routerLink="/document-builder">Document Builder</a></li>
          <li routerLinkActive="active" class="disabled"><a routerLink="/send-email">Send Email</a></li> -->
  
      <!-- <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
              <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a >Save Data</a></li>
                <li><a >Fetch Data</a></li>
              </ul>
            </li>
          </ul> -->
      <!-- </div> -->
    </div>
  </nav>