<h4>{{template?.name}}</h4>
<a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ template?.name }}</h4>
    <p class="list-group-item-text">{{ template?.footerString }}</p>
  </div>
  <span class="pull-right">
    <img
      [src]="template?.imagePath"
      alt="{{template?.name }}"
      class="img-responsive"
      style="max-width: 25px; padding: 3px"
    />
  </span>
</a>
